body{
  background-color: white;
  font-family: Noticia Text;
  text-align: justify;
  margin: 20px 160px 25px 160px;
}

h1{
  font-family: Noticia Text;
  font-size: 35px;
  line-height: 120%;
  padding: auto 20px;
}

h2{
  font-family: Noticia Text;
  font-size: 20px;
  padding-bottom: 20px;
}

h5{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
